<?xml version="1.0" encoding="utf-8" standalone="no"?>

<web-app version="2.5"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	>

	<!-- Servlets -->
	<servlet-mapping>
		<servlet-name>ListingFilms</servlet-name>
		<url-pattern>/films</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListingFilms</servlet-name>
		<servlet-class>com.twister.gapp.cinema.ListingFilms</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateFilms</servlet-name>
		<url-pattern>/films/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateFilms</servlet-name>
		<servlet-class>com.twister.gapp.cinema.UpdateFilms</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.twister.gapp.cinema.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>

	<!-- Filters -->
	<filter-mapping>
		<filter-name>GlobalFilter</filter-name>
		<url-pattern>/global/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>GlobalFilter</filter-name>
		<filter-class>com.twister.gapp.GlobalFilter</filter-class>
	</filter>

	<!-- Other stuff -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
</web-app>