# Gradle
build/
.gradle/

# Logging configurations
/*/src/main/resources/log4j2.xml
/*/src/test/resources/log4j2.xml
/backend/*/src/main/resources/log4j2.xml
/backend/*/src/test/resources/log4j2.xml

# Node JS, NPM, WebPack
node_modules/
package-lock.json

# IDEA
/.idea/
!/.idea/runConfigurations/
*.iml
*.ipr
*.iws

# General
/temp/

# Sync History files
/build/sync/
/history/
/sync-key.private

# Temporary outputs
/deploy/static/
