.svn/
node_modules/
/.gradle/
/buildSrc/.gradle/
build/
static/scripts/libs/angular/docs/
*.iml
*.ipr
*.iws
/.idea/
!/.idea/runConfigurations/
*.sublime-workspace
.npm-debug.log
package-lock.json
/deploy/static/*
!/deploy/static/lib/
/test/logs/
/temp/
/backend/sync/test/*.xml
out/
/local.properties
