# Gradle
build/
.gradle/

# Logging configurations
/*/src/main/resources/log4j2.xml
/*/src/test/resources/log4j2.xml
/backend/*/src/main/resources/log4j2.xml
/backend/*/src/test/resources/log4j2.xml
/deploy/*/src/main/resources/log4j2.xml
/deploy/*/src/test/resources/log4j2.xml

# Node JS, NPM, WebPack
node_modules/
package-lock.json

# IDEA
/.idea/
!/.idea/runConfigurations/
*.iml
*.ipr
*.iws

# General
/temp/

# Sync History files
/build/sync/
/history/
/sync-key.private

# Temporary outputs

# Output of `npm run build` in frontend/, configured in webpack.config.js > `dist`.
/deploy/frontend/static/

# `gradlew ... --write-locks` output.
/gradle/dependency-locks/*.lockfile

# `gradlew ...:dependencies` / `scripts/dependencies.sh` output.
/*.dependencies

# TODEL https://github.com/gradle/gradle/issues/21101
/settings-gradle.lockfile
