.plans {
	padding-left: 0;

	.plan {
		display: inline-block;
		width: 395px;
		border: 1px solid gray;
		margin: 2px;

		.plan-films .plan-film-break {
			list-style-type: none;
		}
	}
}
