@import '_theme';
@import 'bootstrap_breakpoints';

#main > header {
	border-bottom: 1px solid white;
	padding: 4px 0;
	margin-bottom: 4px;

	// force non-mobile styles for all sizes
	#cineworldDate-editor {
		display: inline-table;
		vertical-align: middle;
		.input-group-btn {
			// allows breaking the label and the input on one line
			// yes, it is weird that this element controls that, but Bootstrap
			width: auto;
		}
	}
	// don't allow wrapping the sentence (this breaks the whole element as one)
	#cineworldDate-display {
		white-space: nowrap;
	}
}

#main {
	// set and reset font-size so that inline-block children
	// can be laid out with proper percent sizes
	font-size: 0;
	> * {
		font-size: 14px; // from Bootstrap <body> rule
	}
}

#cinemas, #films {
	@include media-breakpoint-between(md, lg) {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
	@include media-breakpoint-only(sm) {
		[uib-accordion] ul {
			column-count: 2;
			column-gap: 32px;
			column-rule: 1px solid;
		}
	}
	@include media-breakpoint-only(lg) {
		[uib-accordion] ul {
			column-count: 2;
			column-gap: 32px;
			column-rule: 1px solid;
		}
	}
	@include media-breakpoint-up(xl) {
		display: inline-block;
		width: 275px;
		vertical-align: top;
		max-height: calc(100% - 40px - 8px);
		overflow-y: auto;
	}
}

#performances {
	@include media-breakpoint-up(xl) {
		display: inline-block;
		vertical-align: top;
	}
}

// center-align stuff on small screens
@include media-breakpoint-down(sm) {
	[name='cineworldDateForm'] {
		text-align: center;
	}
	#films, #cinemas, #performances {
		> ul.list-inline {
			text-align: center;
		}
	}
}

#debug {
	display: none;
	float: right;
	width: 250px;
	border-left: 1px solid black;
	padding-left: 4px;
}

#statusmessage {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	padding: 0 5px;

	& { // Angular specific
		margin-bottom: 0px;
		line-height: 25px; /* same as hidden margin-bottom */
		-webkit-transition: all linear 0.2s;
		transition: all linear 0.2s;

		&.ng-hide {
			display: block !important;
			margin-bottom: -25px;
		}
	}
}
