/*@media screen and (max-width: 480px) {*/
.modal-xs .modal-dialog {
	width: auto;
}

.modal-sm .modal-dialog {
	width: auto;
}

.modal-md .modal-dialog {
	width: auto;
}

.modal-lg .modal-dialog {
	width: auto;
}

/*}*/
@media screen and (min-width: 768px) {
	.modal-xs .modal-dialog {
		width: 50%;
	}
	.modal-sm .modal-dialog {
		width: 60%;
	}
	.modal-md .modal-dialog {
		width: 80%;
	}
	.modal-lg .modal-dialog {
		width: 90%;
	}
}

@media screen and (min-width: 992px) {
	.modal-xs .modal-dialog {
		width: 40%;
	}
	.modal-sm .modal-dialog {
		width: 50%;
	}
	.modal-md .modal-dialog {
		width: 60%;
	}
	.modal-lg .modal-dialog {
		width: 70%;
	}
}

@media screen and (min-width: 1200px) {
	.modal-xs .modal-dialog {
		width: 30%;
	}
	.modal-sm .modal-dialog {
		width: 40%;
	}
	.modal-md .modal-dialog {
		width: 50%;
	}
	.modal-lg .modal-dialog {
		width: 70%;
	}
}
