/*
#121215; // Cineworld Black BG
#F7F7F7; // Cineworld light text
#CCCCCC; // Cineworld dark text
#89D531; // MyCineworld green
#D70011; // Cineworld red
*/

$color-film: #89D531;
$color-film-highlight: greenyellow;
$color-cinema: #EE2021;
$color-cinema-highlight: red;
$color-time: #36BBCE;
$color-offense: #487a7a;
