/** Generic layout */
.ui-stretch {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

input[type="checkbox"] {
	vertical-align: text-bottom;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 67%;
}
.aspect-ratio > * {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

/** Site layout */
#main > header {
	border-bottom: 1px solid white;
	padding: 4px 0;
}

#cinemas, #films, #performances, #debug {
	float: left;
	height: calc(100% - 40px - 8px);
	margin: 0;
	padding: 4px;
	overflow-y: scroll;
}

#cinemas {
	width: 275px;
}
#films {
	width: 275px;
}
#performances {
	width: auto;
	overflow-x: scroll;
}

#debug {
	display: none;
	float: right;
	width: 250px;
	border-left: 1px solid black;
	padding-left: 4px;
}

.plans {
	padding-left: 0;
}
.plans .plan {
	display: inline-block;
	width: 395px;
	border: 1px solid gray;
	margin: 2px;
}

.plan .plan-films .plan-film-break {
	list-style-type: none;
}

.plan-vis {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 0 !important;
	/* make ticks (background gradient) larger than contents and vertical-align them */
	line-height: 14px;
	/*background-image: linear-gradient(...); // set from angular */
}
.plan-vis .plan-vis-film,
.plan-vis .plan-vis-break,
.plan-vis .plan-vis-group,
.plan-vis .plan-vis-spacer
{
	display: inline-block;
	vertical-align: middle;
	transition: width 0.5s ease 0.2s;
}
.plan-vis .plan-vis-film {
	background: #89D531;
	height: 8px;
	font-size: 9px;
	line-height: 8px;
	color: black;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.plan-vis .plan-vis-spacer {
	background: #333333;
	height: 1px;
}
.plan-vis .plan-vis-break {
	background: #333333;
	height: 4px;
	font-size: 10px;
	line-height: 5px;
	text-align: center;
	font-weight: bold;
}
.plan-vis-break {
	color: #36BBCE;
}

.plan .plan-vis:hover {
	background-image: none !important;
}
.plan .plan-vis:hover .plan-vis-spacer {
	width: 0 !important;
}
.plan .plan-vis:hover .plan-vis-group {
	width: 100% !important;
}
#statusmessage {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	padding: 0 5px;
}

/** Bootstrap specific */
.glyphicon:empty {
	height: 1em;
}
.glyphicon:hover {
    text-decoration: none;
}

.close {
	margin-right: 3px;
	color: gray;
	opacity: 1;
}
.close:hover {
	color: white;
	opacity: 1;
}

@media (min-width: 768px) {
	/* fixes wrapping when it shouldn't https://github.com/twbs/bootstrap/issues/8732 */
	.form-inline .form-control {
		width: auto;
	}
}

.modal-footer .dropdown-menu {
	/* https://github.com/twbs/bootstrap/issues/13037 */
	text-align: initial;
}

.glyphicon[ng-click] {
	cursor: pointer;
}
[class^="icon-"].loading,
[class*=" icon-"].loading,
.glyphicon.loading {
    background: url('../images/icon-loading-white.gif') no-repeat 0;
	width: 16px;
}
.glyphicon.loading:before {
	content: "";
}

.accordion-toggle {
	cursor: pointer;
}
.accordion-toggle:hover {
	text-decoration: none;
}

.glyphicon.pull-right {
	margin-left: 2px;
}

.cinema .checkbox-inline label,
.film .checkbox-inline label {
	margin: 0;
	font-weight: 400;
	display: inline;
	cursor: pointer;
	/* moved from .checkbox-inline, the input[checkbox] has to be positioned within */
	position: relative;
}
.cinema .checkbox-inline,
.film .checkbox-inline {
	/* make the wrapped long label position itself to the left of floating right things, not below */
    display: block;
    /* make the part of bounding box overlapping the floating right things clickable */
    position: static;
}

.cinema .checkbox-inline {
	white-space: nowrap;
}

.panel-body {
	padding: 10px;
}

.list-unstyled {
	margin: 0;
}

.film > .popover {
	max-width: inherit;
}
.film > .glyphicon, .cinema > .glyphicon {
    top: 4px;
    left: 2px;
}

/*
#121215; // Cineworld Black BG
#F7F7F7; // Cineworld light text
#CCCCCC; // Cineworld dark text
#89D531; // MyCineworld green
#D70011; // Cineworld red
*/

/** Site styles */

body, .panel-body {
	background-color: #121215;
	color: #CCCCCC;
}

.modal-content {
	background-color: #121215;
	border: 1px solid #999999;
}

/*@media screen and (max-width: 480px) {*/
	.modal-xs .modal-dialog {
		width: auto;
	}
	.modal-sm .modal-dialog {
		width: auto;
	}
	.modal-md .modal-dialog {
		width: auto;
	}
	.modal-lg .modal-dialog {
		width: auto;
	}
/*}*/
@media screen and (min-width: 768px) {
	.modal-xs .modal-dialog {
		width: 50%;
	}
	.modal-sm .modal-dialog {
		width: 60%;
	}
	.modal-md .modal-dialog {
		width: 80%;
	}
	.modal-lg .modal-dialog {
		width: 90%;
	}
}
@media screen and (min-width: 992px) {
	.modal-xs .modal-dialog {
		width: 40%;
	}
	.modal-sm .modal-dialog {
		width: 50%;
	}
	.modal-md .modal-dialog {
		width: 60%;
	}
	.modal-lg .modal-dialog {
		width: 70%;
	}
}
@media screen and (min-width: 1200px) {
	.modal-xs .modal-dialog {
		width: 30%;
	}
	.modal-sm .modal-dialog {
		width: 40%;
	}
	.modal-md .modal-dialog {
		width: 50%;
	}
	.modal-lg .modal-dialog {
		width: 70%;
	}
}

.panel > .panel-heading {
	background-color: #333333;
	color: #CCCCCC;
}

a {
	color: #F7F7F7;
}

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(192, 192, 192, .4);
}
::-webkit-scrollbar-corner {
	background: transparent;
}

#status {
	color: red;
}

#performances table,
#performances tr,
#performances td,
#performances th {
	border: 1px solid #CCCCCC;
}
#performances table {
    margin-bottom: 6px;
}
#performances th:first-child {
    white-space: nowrap;
    padding-left: 5px;
}
#performances td:first-child {
    padding-right: 2px;
	font-weight: bold;
}
#performances-by-cinema td.cinema {
    padding-left: 2px;
    padding-right: 4px;
}
#performances th {
    max-width: 150px;
    font-weight: bold;
}
@media screen and (min-width: 1200px) {
    #performances th {
        max-width: 250px;
    }
}
#performances th:not(:first-child) {
    padding-left: 4px;
    padding-right: 4px;
}
#performances td.performances {
    padding-left: 2px;
    padding-right: 2px;
}
#performances td.performances button {
    font-size: xx-small;
	padding: 0;
	margin-right: 1px;
}
#performances td.performances .performance {
	white-space: nowrap;
}

#statusmessage {
	background-color: #CCCCCC;
	color: #0794DD;
	font-weight: bold;
}

.id {
	color: gray;
}

.length,
.film-runtime {
	color: #5587E4;
}

.film-runtime {
	cursor: pointer;
}

.film-runtime:before {
	color: #CCCCCC;
	content: '(';
}
.film-runtime:after {
	color: #CCCCCC;
	content: '\')';
}

.film-runtime:empty:before {
    content: '(???)';
}
.film-runtime:empty:after {
    content: '';
}

.time,
.film-start,
.film-end {
	color: #36BBCE;
}
.time.offense,
.length.offense,
.film-start.offense,
.film-end.offense,
.offenseDetails {
	color: #487a7a;
	font-size: x-small;
}

.film-title {
	color: #89D531;
}

.cinema-name {
	color: #EE2021;
}

.cinema input:checked {
	outline: 2px outset red;
}
.cinema input:checked  + * {
	background-color: #400;
}

.cinema .glyphicon-heart {
	color: red;
}

.film .glyphicon-eye-close {
	color: greenyellow;
}

.film input:checked {
	outline: 2px outset greenyellow;
}
.film input:checked  + * {
	background-color: #030;
}

.plan-films .plan-film.filtered,
.plan-films .plan-film .filtered,
.plan-filtered-by-film.filtered,
.plan-filtered-by-screening.filtered {
	font-weight: bold;
}

.plan-header {
	font-weight: bold;
}

/** Angular specific */
#statusmessage {
	margin-bottom: 0px;
	line-height: 25px; /* same as hidden margin-bottom */
	-webkit-transition:all linear 0.2s;
	transition:all linear 0.2s;
}

#statusmessage.ng-hide {
	display: block !important;
	margin-bottom: -25px;
}
