@use '_theme.scss';

body, .panel-body {
	background-color: theme.$color-background;
	color: theme.$color-copy;
}

.modal-content {
	background-color: theme.$color-background;
	border: 1px solid #999999;
}

.panel > .panel-heading {
	background-color: #333333;
	color: theme.$color-copy-important;
}

a {
	color: theme.$color-copy-important;
}

[ng-click] {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 12px; /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(192, 192, 192, .4);
}

::-webkit-scrollbar-corner {
	background: transparent;
}

#status {
	color: red;
}

#statusmessage {
	background-color: #CCCCCC;
	color: #0794DD;
	font-weight: bold;
}

.id {
	color: gray;
}

.length {
	color: theme.$color-runtime;
}

.film-runtime {

	color: theme.$color-runtime;

	&:before, &:after {
		color: theme.$color-copy;
	}
	&:before {
		content: '(';
	}
	&:after {
		content: '\')';
	}

	&:empty {
		&:before, &:after {
			color: theme.$color-offense;
		}
		&:before {
			content: '(???)';
		}
		&:after {
			content: '';
		}
	}
}

.time,
.film-start,
.film-end {
	color: theme.$color-time;
}

.plan-vis-break {
	background: #333333;
	color: theme.$color-time;
}

.time.offense,
.length.offense,
.film-title.offense,
.film-start.offense,
.film-end.offense,
.offenseDetails {
	color: theme.$color-offense;
	font-size: x-small;
}

.film-title {
	color: theme.$color-film;
}

a, [ng-click] {
	&.film-title:hover {
		color: theme.$color-film-highlight;
	}
}

.plan-vis-film {
	background: theme.$color-film;
	color: black;
	&.offense {
		background: theme.$color-offense;
	}
}

.plan-vis-spacer {
	background: #333333;
}

.cinema-name {
	color: theme.$color-cinema;
}

a, [ng-click] {
	&.cinema-name:hover {
		color: theme.$color-cinema-highlight;
	}
}

.cinema {
	input:checked {
		outline: 2px outset theme.$color-cinema-highlight;

		+ * {
			background-color: #400;
		}
	}

	.glyphicon-heart {
		color: theme.$color-cinema-highlight;
	}
}

.film {

	input:checked {
		outline: 2px outset theme.$color-film-highlight;
		+ * {
			background-color: #030;
		}
	}

	.glyphicon-eye-close {
		color: theme.$color-film-highlight;
	}
}

.plan-films .plan-film.filtered,
.plan-films .plan-film .filtered,
.plan-filtered-by-film.filtered,
.plan-filtered-by-screening.filtered {
	font-weight: bold;
}

.plan-header {
	font-weight: bold;
}
