@import 'bootstrap_breakpoints';

//@include media-breakpoint-up(xs) {
.modal-xs .modal-dialog {
	width: auto;
}

.modal-sm .modal-dialog {
	width: auto;
}

.modal-md .modal-dialog {
	width: auto;
}

.modal-lg .modal-dialog {
	width: auto;
}

//}

@include media-breakpoint-up(md) {
	.modal-xs .modal-dialog {
		width: 50%;
	}
	.modal-sm .modal-dialog {
		width: 60%;
	}
	.modal-md .modal-dialog {
		width: 80%;
	}
	.modal-lg .modal-dialog {
		width: 90%;
	}
}

@include media-breakpoint-up(lg) {
	.modal-xs .modal-dialog {
		width: 40%;
	}
	.modal-sm .modal-dialog {
		width: 50%;
	}
	.modal-md .modal-dialog {
		width: 60%;
	}
	.modal-lg .modal-dialog {
		width: 70%;
	}
}

@include media-breakpoint-up(xl) {
	.modal-xs .modal-dialog {
		width: 30%;
	}
	.modal-sm .modal-dialog {
		width: 40%;
	}
	.modal-md .modal-dialog {
		width: 50%;
	}
	.modal-lg .modal-dialog {
		width: 70%;
	}
}
