<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE manifest>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twister.cineworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CinemasActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CinemasMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CinemaActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.FilmsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.FilmActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.DatesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.PerformancesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CategoriesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.EventsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.DistributorsActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>