.ui-stretch {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#title {
	font-family: Georgia;
	text-shadow: 2px 1px 3px darkgray;
}
#cinemas {
	float: left;
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}
#films {
	float: left;
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

#debug {
	float: right;
	width: 300px;
	height: 100%;
	border-left: 1px solid black;
	padding-left: 4px;
}

#performances th:first-child {
	white-space: nowrap;
}
#performances th.film {
	width: 200px;
}
#status {
	color: red;
}
table, tr, td, th {
	border: 1px solid #000;
}
#statusmessage {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	padding: 0 5px;

	background-color: #eeee99;
	font-weight: bold;

	-webkit-transition:all linear 0.2s;
	transition:all linear 0.2s;
	margin-bottom: 0px;
	line-height: 25px; /* same as hidden margin-bottom */
}

#statusmessage.ng-hide {
	display: block !important;
	margin-bottom: -25px;
}

ul.selectors {
    list-style-type: none;
    padding: 0;
}

.selectors .selector {
    
}
.selector .check {
    
}

.selector .favorite {
    width: 1em;
    height: 1em;
}
.selector .name {
	font-size: 10pt;
	font-family: sans-serif;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@-webkit-keyframes fav-disable {
    0% {-webkit-filter: grayscale(0%);}
    100% {-webkit-filter: grayscale(100%);}
}
@-webkit-keyframes fav-enable {
    0% {-webkit-filter: grayscale(100%);}
    100% {-webkit-filter: grayscale(0%);}
}
.favorite {
    -webkit-transition-duration: 0.7s;
}
.favorite.loading {
    -webkit-animation-name: fav-disable;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}
.favorite.loading.grayscale {
    -webkit-animation-name: fav-enable;
}
