/** Generic layout */
.ui-stretch {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

input[type="checkbox"] {
	vertical-align: text-bottom;
}

/** Site layout */
#main > header {
	height: 39px;
	border-bottom: 1px solid white;
}

#cinemas, #films, #performances, #debug {
	float: left;
	height: calc(100% - 40px - 8px);
	margin: 0;
	padding: 4px;
	overflow-y: scroll;
}

#cinemas {
	width: 275px;
}
#films {
	width: 275px;
}
#performances {
	width: auto;
	overflow-x: scroll;
}

#debug {
	display: none;
	float: right;
	width: 250px;
	border-left: 1px solid black;
	padding-left: 4px;
}

#performances td:first-child {
	white-space: nowrap;
}
#performances th.film {
	width: 150px;
}

#statusmessage {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	padding: 0 5px;
}

/** Bootstrap specific */
.glyphicon:empty {
	height: 1em;
}

@media (min-width: 768px) {
	/* fixes wrapping when it shouldn't https://github.com/twbs/bootstrap/issues/8732 */
	.form-inline .form-control {
		width: auto;
	}
}

[class^="icon-"].loading,
[class*=" icon-"].loading,
.glyphicon.loading {
    background-image: url('../images/icon-loading-white.gif');
    background-position: 0;
}
.glyphicon.loading:before {
	content: "";
}

.accordion-toggle {
	cursor: pointer;
}
.accordion-toggle:hover {
	text-decoration: none;
}

.glyphicon.pull-right {
	margin-left: 2px;
}

.cinema .checkbox,
.film .checkbox {
	margin: 0;
}

.cinema .checkbox {
	white-space: nowrap;
}

.panel-body {
	padding: 10px;
}

.list-unstyled {
	margin: 0;
}

.film > .popover {
	max-width: inherit;
}

/*
#121215; // Cineworld Black BG
#F7F7F7; // Cineworld light text
#CCCCCC; // Cineworld dark text
#89D531; // MyCineworld green
#D70011; // Cineworld red
*/

/** Site styles */

body, .panel-body {
	background-color: #121215;
	color: #CCCCCC;
}

.modal-content {
	background-color: #121215;
	border: 1px solid #999999;
}

.panel-default > .panel-heading {
	background-color: #333333;
	color: #CCCCCC;
}

a {
	color: #F7F7F7;
}

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(192, 192, 192, .4);
}
::-webkit-scrollbar-corner {
	background: transparent;
}

#status {
	color: red;
}

#performances table,
#performances tr,
#performances td,
#performances th {
	border: 1px solid #CCCCCC;
}
#performances td.cinema {
	padding: 2px 6px;
}
#performances table {
	margin-bottom: 6px;
}


#statusmessage {
	background-color: #CCCCCC;
	color: #0794DD;
	font-weight: bold;
}

.id {
	color: gray;
}

.length,
.film-runtime {
	color: #5587E4;
}
.film-runtime:before,
.film-runtime:after {
	color: #CCCCCC;
}
.film-runtime:before {
	content: '(';
}
.film-runtime:after {
	content: ')';
}

.time,
.film-start,
.film-end {
	color: #36BBCE;
}

.film-title {
	color: #89D531;
}

.cinema-name {
	color: #EE2021;
}

.cinema .glyphicon-heart {
	color: red;
}

.film .glyphicon-eye-close {
	color: greenyellow;
}

.plan-header {
	font-weight: bold;
}

/** Angular specific */
#statusmessage {
	margin-bottom: 0px;
	line-height: 25px; /* same as hidden margin-bottom */
	-webkit-transition:all linear 0.2s;
	transition:all linear 0.2s;
}

#statusmessage.ng-hide {
	display: block !important;
	margin-bottom: -25px;
}
