<!DOCTYPE html>
<html lang="en" class="ui-stretch" ng-app="app" ng-strict-di>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/planner" />

	<title>Cineworld Cinemas Planner - Developer Beta</title>

	<script type="text/javascript">
		window.onerror = function() {
			window.error = arguments;
			var args = Array.prototype.slice.call(arguments);
			args.push("See window.error from console for more");
			alert(args.join("\n"));
		};
	</script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body class="ui-stretch" ng-controller="AppController">
	<section id="main" class="ui-stretch">
		<header id="date" ng-controller="DateController">
			<form name="cineworldDateForm" class="form-inline" role="form">
				<div class="form-group">
					<label for="cineworldDate">Date</label>
					<input id="cineworldDate" name="cineworldDate" type="text" ng-model="cineworld.date" class="form-control"
						uib-datepicker-popup="shortDate" is-open="cineworldDatePickerDisplayed" />
				</div>
				<button class="btn btn-default" ng-click="displayCineworldDatePicker()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
				Selected date is: <em>{{cineworld.date | date:'fullDate' }}</em>
			</form>
		</header>
		<aside id="debug" ng-controller="DebugController">
			<h6>Selected cinemas: {{(cineworld.cinemas | filter: {selected: true}).length}} / {{cineworld.cinemas.length}}</h6>
			<ul>
				<li ng-repeat="cinema in cineworld.cinemas | filter: {selected: true} | orderBy: 'name'">
					<span class="cinema-name">{{cinema.name}}</span> (<span class="id">{{cinema.cineworldID}}</span>)
				</li>
			</ul>

			<h6>Selected films: {{(cineworld.films | filter: {selected: true}).length}} / {{cineworld.films.length}}</h6>
			<ul>
				<li ng-repeat="film in cineworld.films | filter: {selected: true} | orderBy: 'title'">
					<span class="film-title">{{film.title}}</span> (<span class="id">{{film.edi}}</span>)
				</li>
			</ul>

			<h6>Combo</h6>
			<select ng-model="cinema" class="form-control" required ng-options="c.name group by !c.fav for c in cineworld.cinemas | orderBy: 'name'">
				<!-- TODO is this intentionally not value? -->
				<option vlaue="">-- choose a cinema</option>
			</select>
		</aside>
		<section id="cinemas" class="ui-stretch" ng-controller="CinemasController">
			<script type="text/ng-template" id="cinema.shtml">
				<i class="glyphicon pull-right" ng-class="{
						'loading'        : cinema.favLoading,
						'glyphicon-heart'     : cinema.fav,
						'glyphicon-star-empty': !cinema.fav
					}" ng-click="favClick(cinema)" uib-tooltip="{{!cinema.fav? 'Add as a Favorite!' : 'Remove from Favorites!'}}"></i>
				<div class="checkbox-inline">
					<label for="cinema-{{cinema.cineworldID}}" title="{{cinema | json}}">
						<input id="cinema-{{cinema.cineworldID}}" type="checkbox" class="check" value="{{cinema.cineworldID}}" ng-model="cinema.selected" />
						<span class="cinema-name">{{cinema.name}}</span>
					</label>
				</div>
			</script>
			<ul class="list-inline">
				<li ng-repeat="(id, button) in buttons" ng-hide="button.hidden">
					<button ng-click="buttonClick(button)" id="cinemas-{{id}}" type="button" class="btn btn-primary btn-xs" ng-disabled="loading">{{button.label}}</button>
				</li>
			</ul>
			<uib-accordion close-others="false" ng-init="isOpen = { favs: true, london: true, others: false }" >
				<div uib-accordion-group id="cinemas-group-favs" is-open="isOpen.favs">
					<uib-accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen.favs, 'glyphicon-chevron-right': !isOpen.favs}"></i>
						Favorite Cinemas ({{(cineworld.cinemas | filter: {fav: true}).length}})
					</uib-accordion-heading>
					<div class="cinemas-loading" ng-show="loading">Loading cinemas...</div>
					<ul id="cinemas-list-favs" class="list-unstyled" ng-show="!loading">
						<li class="cinema" ng-repeat="cinema in cineworld.cinemas | filter: {fav: true} | orderBy: 'name'" ng-include="'cinema.shtml'" />
					</ul>
				</div>
				<div uib-accordion-group id="cinemas-group-london" is-open="isOpen.london">
					<uib-accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen.london, 'glyphicon-chevron-right': !isOpen.london}"></i>
						London Cinemas ({{(cineworld.cinemas | filter: {name:'London'}).length}})
					</uib-accordion-heading>
					<div class="cinemas-loading" ng-show="loading">Loading cinemas...</div>
					<ul id="cinemas-list-london" class="list-unstyled" ng-show="!loading">
						<li class="cinema" ng-repeat="cinema in (cineworld.cinemas | filter: {name:'London'}) | orderBy: 'name'" ng-include="'cinema.shtml'" />
					</ul>
				</div>
				<div uib-accordion-group id="cinemas-group-other" is-open="isOpen.others">
					<uib-accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen.others, 'glyphicon-chevron-right': !isOpen.others}"></i>
						Other Cinemas ({{(cineworld.cinemas | filter: {name:'!London'}).length}})
					</uib-accordion-heading>
					<div class="cinemas-loading" ng-show="loading">Loading cinemas...</div>
					<ul id="cinemas-list-other" class="list-unstyled" ng-show="!loading">
						<li class="cinema" ng-repeat="cinema in (cineworld.cinemas | filter: {name:'!London'}) | orderBy: 'name'" ng-include="'cinema.shtml'" />
					</ul>
				</div>
			</uib-accordion>
		</section>
		<section id="films" class="ui-stretch" ng-controller="FilmsController">
			<ul class="list-inline">
				<li ng-repeat="(id, button) in buttons" ng-hide="button.hidden">
					<button ng-click="buttonClick(button)" id="films-{{id}}" type="button" class="btn btn-primary btn-xs" ng-disabled="loading" uib-tooltip="{{options | json}}">{{button.label}}</button>
				</li>
			</ul>
			<uib-accordion close-others="false" ng-init="isOpen = { films: true, watched: false }">
				<div uib-accordion-group id="films-group" is-open="isOpen.films">
					<uib-accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen.films, 'glyphicon-chevron-right': !isOpen.films}"></i>
						New Films ({{(cineworld.films | filter: not(hasView)).length}})
					</uib-accordion-heading>
					<div class="films-loading" ng-show="loading">Loading films...</div>
					<ul id="films-list" class="list-unstyled" ng-show="!loading">
						<li class="film" ng-repeat="film in cineworld.films | filter: not(hasView) | orderBy: 'title'">
							<i class="glyphicon glyphicon-eye-open pull-right" ng-click="addViewPopup(null, film)" ng-class="{ 'loading': film.processingView }" uib-tooltip="Click to add view!"></i>
							<span class="film-runtime pull-right" ng-click="filmDetailsPopup(film)"
							>{{film.runtime > 0? film.runtime : ""}}</span>
							<div class="checkbox-inline">
								<label for="film-{{film.edi}}" title="{{film | json}}">
									<input id="film-{{film.edi}}" type="checkbox" class="check" value="{{film.edi}}" ng-model="film.selected" />
									<span class="film-title">{{film.title}}</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
				<div uib-accordion-group id="films-group-watched" is-open="isOpen.watched">
					<uib-accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen.watched, 'glyphicon-chevron-right': !isOpen.watched}"></i>
						Watched ({{(cineworld.films | filter: hasView).length}})
					</uib-accordion-heading>
					<div class="films-loading" ng-show="loading">Loading films...</div>
					<ul id="films-list-watched" class="list-unstyled" ng-show="!loading">
						<li class="film" ng-repeat="film in cineworld.films | filter: hasView | orderBy: 'title'">
							<i class="glyphicon glyphicon-eye-close pull-right" ng-click="removeViewPopup(film.view)" ng-class="{ 'loading': film.processingView }" uib-tooltip="{{'Watched at ' + film.view.cinema.name + ' on ' + (film.view.date | date:'shortDate') + ' at ' + (film.view.date | date:'shortTime')}}"></i>
							<span class="film-runtime pull-right" ng-click="filmDetailsPopup(film)"
							>{{film.runtime > 0? film.runtime : ""}}</span>
							<div class="checkbox-inline">
								<label for="film-{{film.edi}}" title="{{film | json}}">
									<input id="film-{{film.edi}}" type="checkbox" class="check" value="{{film.edi}}" ng-model="film.selected" />
									<span class="film-title">{{film.title}}</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
			</uib-accordion>
		</section>
		<section id="performances" class="ui-stretch" ng-controller="PerformancesController">
			<ul class="list-inline" title="{{options | json}}">
				<li ng-repeat="(id, button) in buttons" ng-hide="button.hidden">
					<button ng-click="buttonClick(button)" id="plan-{{id}}" type="button" class="btn btn-primary btn-xs" ng-disabled="loading">{{button.label}}</button>
				</li>
			</ul>
			<div class="performances-loading" ng-show="loading && (cineworld.films | filter: {selected: true}).length === 0">Please select a film...</div>
			<div class="performances-loading" ng-show="loading && (cineworld.films | filter: {selected: true}).length !== 0">Loading performances...</div>
			<table id="performances-by-cinema" ng-show="!loading" ng-if="(cineworld.films | filter: {selected: true}).length <= (cineworld.cinemas | filter: {selected: true}).length">
				<thead>
					<tr>
						<th class="cinema">Cinema \ Film</th>
						<th class="film" ng-repeat="film in cineworld.films | filter: {selected: true} | orderBy: 'title'" title="{{film | json}}">
							<span class="film-title" ng-click="filmDetailsPopup(film)">{{film.title}}</span>
							<span class="film-runtime" ng-click="filmDetailsPopup(film)">{{film.runtime
							}}</span><button type="button" class="btn btn-link btn-xs" title="Filter suggestions with this film" ng-click="filterFilm(film)"><i class="glyphicon glyphicon-film"></i></button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cinema in cineworld.cinemas | filter: {selected: true} | orderBy: 'name'">
						<td class="cinema" title="{{cinema | json}}">
							<a href="http://maps.google.com/?q={{cinema.postcode}}" title="{{cinema.postcode}}" class="glyphicon glyphicon-globe pull-right"></a>
							<a href="#cinema-plan-{{cinema.cineworldID}}" class="cinema-name" ng-click="focus(cinema)">{{cleanName(cinema.name)}}</a>
						 </td>
						<td class="performances" ng-repeat="film in cineworld.films | filter: {selected: true} | orderBy: 'title'" title="{{performances[cinema.cineworldID][film.edi] | json}}">
							<span ng-repeat="performance in performances[cinema.cineworldID][film.edi]"><span class="performance"><button type="button" class="btn btn-link btn-xs" title="Filter suggestions with this screening" ng-click="filterScreening(cinema, film, performance)"><i class="glyphicon glyphicon-time"></i></button><a href="{{performance.booking_url}}" target="_blank" class="time" title="{{performance | json}}" ng-class="{offense: (performance.time | moment:'utc') < cineworld.date.valueOf() + options.endOfWork}">{{performance.time | momentLocalFormat:'HH:mm'}}</a></span>{{$last? "" : ", "}}</span>
						</td>
					</tr>
				</tbody>
			</table>
			<table id="performances-by-film" ng-show="!loading" ng-if="(cineworld.films | filter: {selected: true}).length > (cineworld.cinemas | filter: {selected: true}).length">
				<thead>
					<tr>
						<th class="film">Film \ Cinema</th>
						<th class="cinema" ng-repeat="cinema in cineworld.cinemas | filter: {selected: true} | orderBy: 'name'" title="{{cinema | json}}">
							<a href="http://maps.google.com/?q={{cinema.postcode}}" target="_blank" title="{{cinema.postcode}}" class="glyphicon glyphicon-globe pull-right"></a>
							<a href="#cinema-plan-{{cinema.cineworldID}}" class="cinema-name" ng-click="focus(cinema)">{{cleanName(cinema.name)}}</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="film in cineworld.films | filter: {selected: true} | orderBy: 'title'">
						<td class="film" title="{{film | json}}">
							<button type="button" class="btn btn-link btn-xs" title="Filter suggestions with this film" ng-click="filterFilm(film)"><i class="glyphicon glyphicon-film"></i>
							</button><span class="film-title" ng-click="filmDetailsPopup(film)">{{film.title}}</span>
							<span class="film-runtime" ng-click="filmDetailsPopup(film)">{{film.runtime}}</span>
						 </td>
						<td class="performances" ng-repeat="cinema in cineworld.cinemas | filter: {selected: true} | orderBy: 'name'" title="{{performances[cinema.cineworldID][film.edi] | json}}">
							<span ng-repeat="performance in performances[cinema.cineworldID][film.edi]"><span class="performance"><button type="button" class="btn btn-link btn-xs" title="Filter suggestions with this screening" ng-click="filterScreening(cinema, film, performance)"><i class="glyphicon glyphicon-time"></i></button><a href="{{performance.booking_url}}" target="_blank" class="time" title="{{performance | json}}" ng-class="{offense: (performance.time | moment:'utc') < cineworld.date.valueOf() + options.endOfWork}">{{performance.time | momentLocalFormat:'HH:mm'}}</a></span>{{$last? "" : ", "}}</span>
						</td>
					</tr>
				</tbody>
			</table>
			<uib-accordion id="plan-results" ng-show="!loading" close-others="false">
				<div uib-accordion-group id="cinema-plan-{{cPlan.cinema.cineworldID}}" ng-repeat="cPlan in plans | orderBy: [planRank, 'cinema.name']" is-open="cPlan.open">
					<uib-accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': cPlan.open, 'glyphicon-chevron-right': !cPlan.open}"></i>
						<span class="cinema-name">{{cPlan.cinema.name}}</span>
						(<ng-pluralize count="cPlan.valid.length"
							when="{
								'0': 'no plans',
								'one': '1 plan',
								'other': '{} plans'
							}"></ng-pluralize>
						and
						<ng-pluralize count="cPlan.offending.length"
							when="{
								'0': 'no suggestions',
								'one': '1 suggestion',
								'other': '{} suggestions'
							}"></ng-pluralize>;
						{{cPlan.more.list.length}} out of {{cPlan.more.list.length + cPlan.more.remaining()}} shown) 
					</uib-accordion-heading>
					<div class="plans-header" ng-show="cPlan.more.isFiltering()">
						<span ng-show="cPlan.more.filteredByFilm" class="filtered">Filtering <span class="film-title" ng-click="filmDetailsPopup(cPlan.more.filteredByFilm)">{{cPlan.more.filteredByFilm.title}}</span></span>
						<span ng-show="cPlan.more.filteredByScreening" class="filtered">Filtering <span class="film-title" ng-click="filmDetailsPopup(cPlan.more.filteredByScreening.film())">{{cPlan.more.filteredByScreening.film().title}}</span> @ <a href="{{cPlan.more.filteredByScreening.booking_url}}" target="_blank" class="time" title="{{cPlan.more.filteredByScreening | json}}">{{cPlan.more.filteredByScreening.time | momentLocalFormat:'HH:mm'}}</a></span>
						<button type="button" class="btn btn-link btn-xs" ng-click="cPlan.more.initialState(); $event.preventDefault()">Reset</button>
					</div>
					<ul class="plans">
						<li class="plan" ng-repeat="plan in cPlan.more.list">
							<button type="button" class="close" ng-click="cPlan.more.list.splice($index, 1)" title="Remove plan">&times;</button>
							<span class="plan-header" title="{{plan | json}}">
								<span class="film-start" ng-class="{offense: plan.offenses.earlyStart}">{{plan.range.start | momentLocalFormat:'HH:mm'}}</span>&mdash;<span class="film-end" ng-class="{offense: plan.offenses.earlyFinish}">{{plan.range.end | momentLocalFormat:'HH:mm'}}</span>
								<span title="{{plan.offenses | json}}" class="offenseDetails" data-priority="{{offensePriority(plan)}}" ng-show="plan.offenses.count > 0">
									(offends: {{offenseCount(plan)}}, prio: {{offensePriority(plan)}})
								</span>
							</span>
							<ol class="plan-films">
								<li class="plan-film-break" ng-repeat-start="movie in plan" ng-if="movie.breakBefore" value="{{$index}}">
									<span class="length" ng-class="{offense: movie.offenses.shortBreak || movie.offenses.longBreak}" title="{{movie.breakBefore}}">{{movie.breakBefore | humanizeDuration}}</span>
									break
									<span class="offenseDetails" ng-show="movie.offenses.shortBreak" title="{{options.minWaitBetweenMovies}}">(minimum: {{options.minWaitBetweenMovies | humanizeDuration}})</span>
									<span class="offenseDetails" ng-show="movie.offenses.longBreak" title="{{options.maxWaitBetweenMovies}}">(maximum: {{options.maxWaitBetweenMovies | humanizeDuration}})</span>
								</li>
								<li class="plan-film" ng-repeat-end title="{{movie | json}}" ng-class="{filtered: movie.equals(cPlan.more.filteredByScreening)}">
									<button type="button" class="btn btn-link btn-xs" title="Filter suggestions with this screening" ng-click="cPlan.more.filterScreening(movie)"><i class="glyphicon glyphicon-time"></i>
									</button><span class="film-start" ng-class="{offense: movie.offenses.earlyStart}">{{movie.range.start | momentLocalFormat:'HH:mm'}}</span>&mdash;<span class="film-end" ng-class="{offense: movie.offenses.earlyFinish}">{{movie.range.end | momentLocalFormat:'HH:mm'}}</span>
									<span class="film-runtime" ng-click="filmDetailsPopup(movie.film())">{{movie.film().runtime
									}}</span><button type="button" class="btn btn-link btn-xs" title="Filter suggestions with this film" ng-click="cPlan.more.filterFilm(movie.film())"><i class="glyphicon glyphicon-film"></i>
									</button><span class="film-title" ng-class="{filtered: movie.film() === cPlan.more.filteredByFilm}">{{movie.film().title}}</span>
								</li>
							</ol>
						</li>
					</ul>
					<div class="plans-footer" ng-if="cPlan.more.remaining() > 0">
						Show more suggestions:
						<button type="button" class="btn btn-link btn-xs" ng-click="cPlan.more.showMore(5)">{{Math.min(5, cPlan.more.remaining())}} of {{cPlan.more.remaining()}} more ...</button>
						|
						<button type="button" class="btn btn-link btn-xs" ng-click="cPlan.more.showMore(cPlan.more.remaining())">All!</button>
					</div>
				</div>
			</uib-accordion>
		</section>
	</section>
	<div id="statusmessage" ng-show="stati.length > 0" ng-controller="StatusController">
		<div ng-repeat="status in stati track by $index">{{status}}</div>
	</div>
</body>
</html>
