<?xml version="1.0" encoding="UTF-8"?>
<Configuration
	xmlns="http://logging.apache.org/log4j/2.0/config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	strict="true"
	status="warn"
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/apache/logging-log4j2/2.x/log4j-core/src/main/resources/Log4j-config.xsd"
>
	<!--
		Note: to debug Log4j, set status="trace"
	-->

	<Properties>
		<Property name="pattern">%highlight{%date{ISO8601} %-5level [%thread] %message%n%throwable</Property>
		<!-- See org.apache.logging.log4j.core.pattern.AnsiEscape for keywords  -->
		<!-- %highlight separates keywords by spaces, %style separates keywords by commas! -->
		<Property name="pattern_level_colors">
			FATAL=bright magenta, ERROR=bright red, WARN=bright yellow, INFO=dim white, DEBUG=bright black, TRACE=cyan
		</Property>
		<!-- Whitespace within color configuration (highlight/style) will be ignored -->
		<Property name="pattern_styled">%highlight{%date{ISO8601} %-5level [%thread] %logger(%file:%line)}{${
		pattern_level_colors}} %style{%message}{bright_white}%n%style{%throwable}{BG_red,white}
		</Property>
	</Properties>

	<ThresholdFilter level="TRACE" onMatch="neutral" onMismatch="deny" />

	<Appenders>
		<Appender type="Console" name="console">
			<Layout type="PatternLayout" pattern="${pattern}" />
		</Appender>
		<Appender type="Console" name="color-console">
			<Layout type="PatternLayout" pattern="${pattern_styled}" />
		</Appender>
	</Appenders>

	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="color-console" />
		</Root>

		<!-- Enable lots of logs. -->
		<Logger name="net.twisterrob" level="ALL" />
		<Logger name="org.neo4j.ogm" level="TRACE" />

		<!-- Tighten spamming logs. -->

		<Logger name="net.twisterrob.cinema.cineworld.sync.CinemaSync" level="INFO" />
		<Logger name="net.twisterrob.cinema.cineworld.sync.CinemaSyncCalculator" level="DEBUG" />
		<Logger name="net.twisterrob.cinema.cineworld.sync.FilmSync" level="INFO" />
		<Logger name="net.twisterrob.cinema.cineworld.sync.FilmSyncCalculator" level="DEBUG" />

		<!-- on every OGM mapping of an entity these are logged:
			DEBUG (EntityGraphMapper.java:124) context initialised with 0 relationships
			DEBUG (EntityGraphMapper.java:358) visiting: Performance(cinema=75, film=342313, time=2021-09-17T14:00+01:00[Europe/London])
			DEBUG (EntityGraphMapper.java:305) Performance(cinema=75, film=342313, time=2021-09-17T14:00+01:00[Europe/London]) has changed
			DEBUG (EntityGraphMapper.java:376) mapping references declared by: Performance(cinema=75, film=342313, time=2021-09-17T14:00+01:00[Europe/London]), currently at depth 1
			DEBUG (EntityGraphMapper.java:388) Performance(cinema=75, film=342313, time=2021-09-17T14:00+01:00[Europe/London]): mapping reference type: IN
			DEBUG (EntityGraphMapper.java:510) linking to entity Cinema[102](75, Dublin) in one direction
			DEBUG (EntityGraphMapper.java:528) mapping related entity
			DEBUG (EntityGraphMapper.java:270) already visited: Cinema[102](75, Dublin)
			DEBUG (EntityGraphMapper.java:846) trying to map relationship between Performance(cinema=75, film=342313, time=2021-09-17T14:00+01:00[Europe/London]) and Cinema[102](75, Dublin)
			DEBUG (EntityGraphMapper.java:974) context-new: (-79425)-[-79426:IN]->(102)
			DEBUG (EntityGraphMapper.java:388) Performance(cinema=75, film=342313, time=2021-09-17T14:00+01:00[Europe/London]): mapping reference type: SCREENS
			DEBUG (EntityGraphMapper.java:510) linking to entity Film[166](null, Rise Of The Footsoldier : Origins [AD]) in one direction
			DEBUG (EntityGraphMapper.java:528) mapping related entity
			DEBUG (EntityGraphMapper.java:270) already visited: Film[166](null, Rise Of The Footsoldier : Origins [AD])
			DEBUG (EntityGraphMapper.java:846) trying to map relationship between Performance(cinema=75, film=342313, time=2021-09-17T14:00+01:00[Europe/London]) and Film[166](null, Rise Of
 The Footsoldier : Origins [AD])
		-->
		<Logger name="org.neo4j.ogm.context.EntityGraphMapper" level="INFO" />

		<!-- Fine details of execution, no need to know for now.
			DEBUG (RequestExecutor.java:177) to create: nodeEntity -58:27305
			DEBUG (RequestExecutor.java:223) creating new node id: -628, 27685, Performance(cinema=1, film=273821, time=2021-09-22T19:30+01:00[Europe/London])
			DEBUG (RequestExecutor.java:175) to update: nodeEntity 325:325
			DEBUG (RequestExecutor.java:208) updating existing node id: 778, Film[778](null, The Alpinist [AD])
			DEBUG (RequestExecutor.java:185) to (maybe) create: relEntity -110:27218
		-->
		<Logger name="org.neo4j.ogm.session.request.RequestExecutor" level="INFO" />

		<!-- For every saved entity, which can be a lot in sync:
			DEBUG (SaveEventDelegate.java:179) dirty: Film[319](null, Space Jam : A New Legacy [AD])
			DEBUG (SaveEventDelegate.java:179) dirty: Performance(cinema=75, film=342313, time=2021-09-17T14:00+01:00[Europe/London])
		-->
		<Logger name="org.neo4j.ogm.session.delegates.SaveEventDelegate" level="INFO" />

		<!-- TMI from embedded driver during tests. -->
		<Logger name="org.neo4j.driver.internal.shaded" level="INFO" />

		<!--
			TMI from Bolt driver.
			Default logging is JUL, so customised with
			.withCustomProperty("Bolt_Logging", org.neo4j.driver.Logging.slf4j())
			but then the level is ALL by default from <Root>.
		-->
		<Logger name="org.neo4j.driver.internal" level="INFO" />

		<!-- on every request these lines are logged:
			DEBUG (BoltTransaction.java:61) No current transaction, starting a new one
			DEBUG (BoltTransaction.java:64) Native transaction: org.neo4j.driver.internal.InternalTransaction@520cd73
			DEBUG (BoltTransaction.java:94) Committing native transaction: org.neo4j.driver.internal.InternalTransaction@520cd73
		-->
		<Logger name="org.neo4j.ogm.drivers.bolt.transaction.BoltTransaction" level="INFO" />

		<!-- not using transactions yet:
			DEBUG (AbstractTransaction.java:83) Thread 78: Commit transaction extent: 0
			DEBUG (AbstractTransaction.java:90) Thread 78: Committed
			DEBUG (AbstractTransaction.java:139) Thread 78: Close transaction extent: 0
			DEBUG (AbstractTransaction.java:142) Thread 78: Closing transaction
		-->
		<Logger name="org.neo4j.ogm.transaction.Transaction" level="INFO" />

		<!-- on every entity mapping these spam:
			DEBUG (MetaData.java:160) looking for concrete class to resolve label: Cinema
			DEBUG (MetaData.java:183) concrete class found: ClassInfo{className='net.twisterrob.cinema.database.model.Cinema', neo4jName='Cinema'}. comparing with what's already been found previously...
			DEBUG (MetaData.java:203) Cinema resolving class: ClassInfo{className='net.twisterrob.cinema.database.model.Cinema', neo4jName='Cinema'}
			DEBUG (MetaData.java:160) looking for concrete class to resolve label: Historical
			DEBUG (MetaData.java:175) label is on an abstract class. Looking for a single concrete subclass...
			DEBUG (MetaData.java:261) More than one class subclasses ClassInfo{className='net.twisterrob.cinema.database.model.Historical', neo4jName='null'}
			DEBUG (MetaData.java:198) no implementing class or concrete subclass found!
			DEBUG (MetaData.java:160) looking for concrete class to resolve label: BaseNode
			DEBUG (MetaData.java:175) label is on an abstract class. Looking for a single concrete subclass...
			DEBUG (MetaData.java:261) More than one class subclasses ClassInfo{className='net.twisterrob.cinema.database.model.BaseNode', neo4jName='null'}
			DEBUG (MetaData.java:198) no implementing class or concrete subclass found!
		-->
		<Logger name="org.neo4j.ogm.metadata.MetaData" level="INFO" />

		<!-- on startup
			DEBUG (PlatformDependent.java:987) Platform: Windows
			DEBUG (PlatformDependent0.java:396) -Dio.netty.noUnsafe: false
			DEBUG (PlatformDependent0.java:852) Java version: 8
			DEBUG (PlatformDependent0.java:121) sun.misc.Unsafe.theUnsafe: available
			DEBUG (PlatformDependent0.java:145) sun.misc.Unsafe.copyMemory: available
			DEBUG (PlatformDependent0.java:183) java.nio.Buffer.address: available
			DEBUG (PlatformDependent0.java:244) direct buffer constructor: available
			DEBUG (PlatformDependent0.java:314) java.nio.Bits.unaligned: available, true
			DEBUG (PlatformDependent0.java:379) jdk.internal.misc.Unsafe.allocateUninitializedArray(int): unavailable prior to Java9
			DEBUG (PlatformDependent0.java:386) java.nio.DirectByteBuffer.<init>(long, int): available
			DEBUG (PlatformDependent.java:1030) sun.misc.Unsafe: available
			DEBUG (PlatformDependent.java:1149) -Dio.netty.tmpdir: C:\Users\TWiStEr\AppData\Local\Temp (java.io.tmpdir)
			DEBUG (PlatformDependent.java:1228) -Dio.netty.bitMode: 64 (sun.arch.data.model)
			DEBUG (PlatformDependent.java:174) -Dio.netty.maxDirectMemory: 67108864 bytes
			DEBUG (PlatformDependent.java:181) -Dio.netty.uninitializedArrayAllocationThreshold: -1
			DEBUG (CleanerJava6.java:92) java.nio.ByteBuffer.cleaner(): available
			DEBUG (PlatformDependent.java:201) -Dio.netty.noPreferDirect: false
			DEBUG (PlatformDependent.java:891) org.jctools-core.MpscChunkedArrayQueue: available
		-->
		<Logger name="io.netty.util.internal" level="INFO" />

		<!-- on startup, 50-ish times:
			TRACE (NioEventLoop.java:260) instrumented a special java.util.Set into: sun.nio.ch.WindowsSelectorImpl@1ce24091
		-->
		<Logger name="io.netty.channel.nio.NioEventLoop" level="DEBUG" />

		<!-- on startup
			DEBUG (NioEventLoop.java:106) -Dio.netty.noKeySetOptimization: false
			DEBUG (NioEventLoop.java:107) -Dio.netty.selectorAutoRebuildThreshold: 512
			DEBUG (DefaultChannelId.java:79) -Dio.netty.processId: 21896 (auto-detected)
			DEBUG (NetUtil.java:139) -Djava.net.preferIPv4Stack: false
			DEBUG (NetUtil.java:140) -Djava.net.preferIPv6Addresses: false
			DEBUG (NetUtil.java:224) Loopback interface: lo (Software Loopback Interface 1, 127.0.0.1)
			DEBUG (NetUtil.java:289) Failed to get SOMAXCONN from sysctl and file \proc\sys\net\core\somaxconn. Default: 200
			DEBUG (DefaultChannelId.java:101) -Dio.netty.machineId: 00:50:56:ff:fe:c0:00:01 (auto-detected)
			DEBUG (ResourceLeakDetector.java:130) -Dio.netty.leakDetection.level: simple
			DEBUG (ResourceLeakDetector.java:131) -Dio.netty.leakDetection.targetRecords: 4
			DEBUG (PooledByteBufAllocator.java:142) -Dio.netty.allocator.numHeapArenas: 0
			DEBUG (PooledByteBufAllocator.java:143) -Dio.netty.allocator.numDirectArenas: 0
			DEBUG (PooledByteBufAllocator.java:145) -Dio.netty.allocator.pageSize: 8192
			DEBUG (PooledByteBufAllocator.java:150) -Dio.netty.allocator.maxOrder: 11
			DEBUG (PooledByteBufAllocator.java:154) -Dio.netty.allocator.chunkSize: 16777216
			DEBUG (PooledByteBufAllocator.java:155) -Dio.netty.allocator.tinyCacheSize: 512
			DEBUG (PooledByteBufAllocator.java:156) -Dio.netty.allocator.smallCacheSize: 256
			DEBUG (PooledByteBufAllocator.java:157) -Dio.netty.allocator.normalCacheSize: 64
			DEBUG (PooledByteBufAllocator.java:158) -Dio.netty.allocator.maxCachedBufferCapacity: 32768
			DEBUG (PooledByteBufAllocator.java:159) -Dio.netty.allocator.cacheTrimInterval: 8192
			DEBUG (PooledByteBufAllocator.java:160) -Dio.netty.allocator.cacheTrimIntervalMillis: 0
			DEBUG (PooledByteBufAllocator.java:161) -Dio.netty.allocator.useCacheForAllThreads: true
			DEBUG (PooledByteBufAllocator.java:162) -Dio.netty.allocator.maxCachedByteBuffersPerChunk: 1023
			DEBUG (ByteBufUtil.java:86) -Dio.netty.allocator.type: pooled
			DEBUG (ByteBufUtil.java:95) -Dio.netty.threadLocalDirectBufferSize: 0
			DEBUG (ByteBufUtil.java:98) -Dio.netty.maxThreadLocalCharBufferSize: 16384
		-->
		<Logger name="io.netty" level="INFO" />
		
		<!-- on test startup, repeated many times and many others
			DEBUG org.eclipse.jetty.util.component.ContainerLifeCycle(ContainerLifeCycle.java:419) org.eclipse.jetty.server.session.SessionHandler1378287256==dftMaxIdleSec=-1 added {ConstraintSecurityHandler@6722f78d{STOPPED},MANAGED}
			DEBUG org.eclipse.jetty.util.thread.QueuedThreadPool(QueuedThreadPool.java:863) Starting Thread[qtp2105949564-59,5,main]
			DEBUG org.eclipse.jetty.util.thread.QueuedThreadPool(QueuedThreadPool.java:1131) Runner started for QueuedThreadPool[qtp2105949564]@7d863d7c{STARTING,15<=6<=33,i=6,r=-1,t=59999ms,q=0}[ReservedThreadExecutor@7cd7e3c0{reserved=0/3,pending=0}]
		-->
		<Logger name="org.eclipse.jetty" level="WARN" />

	</Loggers>

</Configuration>
