<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!--  Servlets -->
	<servlet>
		<servlet-name>ListingFilms</servlet-name>
		<servlet-class>com.twister.gapp.cinema.ListingFilms</servlet-class>
	</servlet>

	<!--  Servlet mappingss -->
	<servlet-mapping>
		<url-pattern>/films</url-pattern>
		<servlet-name>ListingFilms</servlet-name>
	</servlet-mapping>
	
	<!-- Filters -->
	<filter>
		<filter-name>GlobalFilter</filter-name>
		<filter-class>com.twister.gapp.GlobalFilter</filter-class>
	</filter>
	
	<!--  Filter mappings -->
	<filter-mapping>
		<url-pattern>/global/*</url-pattern>
		<filter-name>GlobalFilter</filter-name>
	</filter-mapping>

	<!-- Other stuff -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
</web-app>