<html lang="en" class="ui-stretch" ng-app="app">
<head>
<meta charset="utf-8">
<title>Cineworld Cinemas Planner - Developer Beta</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
	window.onerror = function() {
		window.error = arguments;
		var args = Array.prototype.slice.call(arguments);
		args.push("See window.error from console for more");
		alert(args.join("\n"));
	};
</script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script src="/scripts/libs/jquery/jquery-1.10.2.js"></script>
<script src="/scripts/libs/angular/angular.js"></script>
<script src="/scripts/libs/angular/angular-animate.js"></script>
<script src="/scripts/libs/angular/angular-resource.js"></script>
<script src="/scripts/libs/angular/angular-route.js"></script>
<script src="/lib/bootstrap/bootstrap-3.0.3/js/bootstrap.js"></script>
<script src="/scripts/libs/angular/plugins/ui-bootstrap-tpls-0.10.0.js"></script>
<script src="/scripts/libs/angular/plugins/ui-bootstrap-tpls-0.6+-confirm.js"></script>

<script src="scripts/global.app.js"></script>
<script src="scripts/global.utils.js"></script>
<script src="scripts/global.lodash.js"></script>
<script src="scripts/global.moment.js"></script>
<script src="scripts/global.services.js"></script>
<script src="scripts/global.controllers.js"></script>
<script src="scripts/global.filters.js"></script>
<script src="scripts/global.directives.js"></script>
<script src="scripts/global.animations.js"></script>
<script src="scripts/Status.service.js"></script>
<script src="scripts/Cinema.service.js"></script>
<script src="scripts/Film.service.js"></script>
<script src="scripts/Performance.service.js"></script>
<script src="scripts/Cineworld.service.js"></script>
<script src="scripts/Planner.service.js"></script>
<script src="scripts/AppController.controller.js"></script>
<script src="scripts/StatusController.controller.js"></script>
<script src="scripts/DateController.controller.js"></script>
<script src="scripts/CinemasController.controller.js"></script>
<script src="scripts/FilmsController.controller.js"></script>
<script src="scripts/PerformancesController.controller.js"></script>
<script src="scripts/PlanOptionsPopupController.controller.js"></script>
<script src="scripts/ViewPopupController.controller.js"></script>
<script src="scripts/FilmPopupController.controller.js"></script>

<script type="text/javascript" src="/scripts/libs/moment/moment-with-langs-2.4.0.js"></script>
<script type="text/javascript" src="/scripts/libs/moment/moment-range-0.1.9.js"></script>
<script type="text/javascript" src="/lib/utilities/lodash-2.4.1.js"></script>

<link href="/lib/bootstrap/bootstrap-3.0.3/css/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="styles/planner.css" />
</head>
<body class="ui-stretch" ng-controller="AppController">
	<section id="main" class="ui-stretch">
		<header id="date" ng-controller="DateController">
			<form name="cineworldDateForm" class="form-inline" role="form">
				<div class="form-group">
					<label for="cineworldDate">Date</label>
					<input id="cineworldDate" name="cineworldDate" type="text" ng-model="cineworld.date" class="form-control"
						datepicker-popup="shortDate" is-open="cineworldDatePickerDisplayed" />
				</div>
				<button class="btn btn-default" ng-click="displayCineworldDatePicker()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
				Selected date is: <em>{{cineworld.date | date:'fullDate' }}</em>
			</form>
		</header>
		<aside id="debug" ng-controller="DebugController">
			<h6>Selected cinemas: {{(cineworld.cinemas | filter:{selected: true}).length}} / {{cineworld.cinemas.length}}</h6>
			<ul>
				<li ng-repeat="cinema in cineworld.cinemas | filter:{selected: true} | orderBy:'name'">
					<span class="cinema-name">{{cinema.name}}</span> (<span class="id">{{cinema.cineworldID}}</span>)
				</li>
			</ul>

			<h6>Selected films: {{(cineworld.films | filter:{selected: true}).length}} / {{cineworld.films.length}}</h6>
			<ul>
				<li ng-repeat="film in cineworld.films | filter:{selected: true} | orderBy:'title'">
					<span class="film-title">{{film.title}}</span> (<span class="id">{{film.edi}}</span>)
				</li>
			</ul>

			<h6>Combo</h6>
			<select ng-model="cinema" class="form-control" required ng-options="c.name group by !c.fav for c in cineworld.cinemas | orderBy:'name'">
				<option vlaue="">-- choose a cinema</option>
			</select>
		</aside>
		<section id="cinemas" class="ui-stretch" ng-controller="CinemasController">
			<script type="text/ng-template" id="cinema.shtml">
				<div class="checkbox">
					<i class="glyphicon pull-right" ng-class="{
						'loading'        : cinema.favLoading,
						'glyphicon-heart'     : cinema.fav,
						'glyphicon-star-empty': !cinema.fav
					}" ng-click="favClick(cinema)" tooltip="{{!cinema.fav? 'Add as a Favorite!' : 'Remove from Favorites!'}}" />
					<label for="cinema-{{cinema.cineworldID}}" title="{{cinema | json}}">
						<input id="cinema-{{cinema.cineworldID}}" type="checkbox" class="check" value="{{cinema.cineworldID}}" ng-model="cinema.selected" />
						<span class="cinema-name">{{cinema.name}}</span>
					</label>
				</div>
			</script>
			<ul class="list-inline">
				<li ng-repeat="(id, button) in buttons" ng-hide="button.hidden">
					<button ng-click="buttonClick(button)" id="cinema-{{id}}" type="button" class="btn btn-primary btn-xs" ng-disabled="loading">{{button.label}}</button>
				</li>
			</ul>
			<accordion close-others="false" ng-init="isOpen_favs=true; isOpen_london=true" >
				<accordion-group is-open="isOpen_favs">
					<accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen_favs, 'glyphicon-chevron-right': !isOpen_favs}"></i>
						Favorite Cinemas ({{(cineworld.cinemas | filter:{fav: true}).length}})
					</accordion-heading>
					<div ng-show="loading">Loading cinemas...</div>
					<ul class="list-unstyled" ng-show="!loading">
						<li class="cinema" ng-repeat="cinema in cineworld.cinemas | filter:{fav: true} | orderBy:'name'" ng-include="'cinema.shtml'" />
					</ul>
				</accordion-group>
				<accordion-group is-open="isOpen_london">
					<accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen_london, 'glyphicon-chevron-right': !isOpen_london}"></i>
						London Cinemas ({{(cineworld.cinemas | filter:{name:'London'}).length}})
					</accordion-heading>
					<div ng-show="loading">Loading cinemas...</div>
					<ul class="list-unstyled" ng-show="!loading">
						<li class="cinema" ng-repeat="cinema in (cineworld.cinemas | filter:{name:'London'}) | orderBy:'name'" ng-include="'cinema.shtml'" />
					</ul>
				</accordion-group>
				<accordion-group is-open="isOpen_others">
					<accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen_others, 'glyphicon-chevron-right': !isOpen_others}"></i>
						Other Cinemas ({{(cineworld.cinemas | filter:{name:'!London'}).length}})
					</accordion-heading>
					<div ng-show="loading">Loading cinemas...</div>
					<ul class="list-unstyled" ng-show="!loading">
						<li class="cinema" ng-repeat="cinema in (cineworld.cinemas | filter:{name:'!London'}) | orderBy:'name'" ng-include="'cinema.shtml'" />
					</ul>
				</accordion-group>
			</accordion>
		</section>
		<section id="films" class="ui-stretch" ng-controller="FilmsController">
			<ul class="list-inline">
				<li ng-repeat="(id, button) in buttons" ng-hide="button.hidden">
					<button ng-click="buttonClick(button)" id="film-{{id}}" type="button" class="btn btn-primary btn-xs" ng-disabled="loading" tooltip="{{options | json}}">{{button.label}}</button>
				</li>
			</ul>
			<accordion close-others="false" ng-init="isOpen_films=true" >
				<accordion-group is-open="isOpen_films">
					<accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen_films, 'glyphicon-chevron-right': !isOpen_films}"></i>
						New Films ({{(cineworld.films | filter: { view: null }).length}})
					</accordion-heading>
					<div ng-show="loading">Loading films...</div>
					<ul class="list-unstyled" ng-show="!loading">
						<li class="film" ng-repeat="film in cineworld.films | filter: '!view' | orderBy:['title']">
							<i class="glyphicon glyphicon-eye-open pull-right" ng-click="addViewPopup(null, film)" ng-class="{ 'loading': film.processingView }" tooltip="Click to add view!"></i>
							<span class="film-runtime pull-right" ng-click="filmDetailsPopup(film)">{{film.runtime > 0? film.runtime + "'": "???"}}</span>
							<div class="checkbox">
								<label for="film-{{film.edi}}" title="{{film | json}}">
									<input id="film-{{film.edi}}" type="checkbox" class="check" value="{{film.edi}}" ng-model="film.selected" />
									<span class="film-title">{{film.title}}</span>
								</label>
							</div>
						</li>
					</ul>
				</accordion-group>
				<accordion-group is-open="isOpen_watched">
					<accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': isOpen_watched, 'glyphicon-chevron-right': !isOpen_watched}"></i>
						Watched ({{(cineworld.films | filter: { view: {} }).length}})
					</accordion-heading>
					<div ng-show="loading">Loading films...</div>
					<ul class="list-unstyled" ng-show="!loading">
						<li class="film" ng-repeat="film in cineworld.films | filter: {view: {}} | orderBy:['title']">
							<i class="glyphicon glyphicon-eye-close pull-right" ng-click="removeViewPopup(film.view)" ng-class="{ 'loading': film.processingView }" tooltip="{{'Watched at ' + film.view.cinema.name + ' on ' + (film.view.date | date:'shortDate') + ' at ' + (film.view.date | date:'shortTime')}}"></i>
							<span class="film-runtime pull-right" ng-click="filmDetailsPopup(film)">{{film.runtime > 0? film.runtime + "'": "???"}}</span>
							<div class="checkbox">
								<label for="film-{{film.edi}}" title="{{film | json}}">
									<input id="film-{{film.edi}}" type="checkbox" class="check" value="{{film.edi}}" ng-model="film.selected" />
									<span class="film-title">{{film.title}}</span>
								</label>
							</div>
						</li>
					</ul>
				</accordion-group>
			</accordion>
		</section>
		<section id="performances" class="ui-stretch" ng-controller="PerformancesController">
			<ul class="list-inline">
				<li ng-repeat="(id, button) in buttons" ng-hide="button.hidden">
					<button ng-click="buttonClick(button)" id="plan-{{id}}" type="button" class="btn btn-primary btn-xs" ng-disabled="loading">{{button.label}}</button>
				</li>
			</ul>
			<div ng-show="loading">Loading performances...</div>
			<table ng-show="!loading">
				<thead>
					<tr>
						<th class="cinema">Cinema</th>
						<th class="film" ng-repeat="film in cineworld.films | filter: {selected: true} | orderBy: 'title'" title="{{film | json}}">
							<span class="film-title">{{film.title}}</span>
							<span ng-show="film.runtime > 0" class="film-runtime">{{film.runtime}}</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cinema in cineworld.cinemas | filter: {selected: true} | orderBy: 'name'">
						<td class="cinema" title="{{cinema | json}}">
							<a href="http://maps.google.com/?q={{cinema.postcode}}" title="{{cinema.postcode}}" class="glyphicon glyphicon-globe pull-right"></a>
							<span class="cinema-name">{{cleanName(cinema.name)}}</span>
						 </td>
						<td class="performances" ng-repeat="film in cineworld.films | filter: {selected: true} | orderBy: 'title'" title="{{performances[cinema.cineworldID][film.edi] | json}}">
							<span ng-repeat="performance in performances[cinema.cineworldID][film.edi]"><a href="{{performance.booking_url}}" class="time" title="{{performance | json}}" ng-class="{offense: performance.time < options.endOfWork}">{{performance.time | date:'HH:mm'}}</a>{{$last? "" : ","}}</span>
						</td>
					</tr>
				</tbody>
			</table>
			<accordion id="plan-results" ng-show="!loading" close-others="false">
				<accordion-group ng-repeat="cPlan in plans | orderBy:[planRank, 'cinema.name']" is-open="cPlan.open">
					<accordion-heading>
						<i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': cPlan.open, 'glyphicon-chevron-right': !cPlan.open}"></i>
						<span class="cinema-name">{{cPlan.cinema.name}}</span>
						(<ng-pluralize count="cPlan.valid.length"
							when="{
								'0': 'no plans',
								'one': '1 plan',
								'other': '{} plans'
							}"></ng-pluralize>
						and
						<ng-pluralize count="cPlan.offending.length"
							when="{
								'0': 'no suggestions',
								'one': '1 suggestion',
								'other': '{} suggestions'
							}"></ng-pluralize>)
					</accordion-heading>
					<ul>
						<li ng-repeat="plan in cPlan.more.list | orderBy:[offenseCount, offensePriority]">
							<span class="plan-header" title="{{plan | json}}">
								<span class="film-start" ng-class="{offense: (plan.range.start | moment:'valueOf') < (plan.range.start | moment:'clone' | moment:'startOf':'day') + options.endOfWork}">{{plan.range.start | moment:'format':'HH:mm'}}</span>&mdash;<span class="film-end">{{plan.range.end | moment:'format':'HH:mm'}}</span>
								<span title="{{plan.offenses | json}}" class="offenseDetails" data-priority="{{offensePriority(plan)}}" ng-show="plan.offenses.count > 0">
									(offends: {{plan.offenses.count}})
								</span>
							</span>
							<ol>
								<li ng-repeat-start="movie in plan" ng-if="movie.breakBefore" value="{{$index}}" style="list-style-type: none">
									<span class="length" ng-class="{offense: movie.breakBefore < options.minWaitBetweenMovies || movie.breakBefore > options.maxWaitBetweenMovies}">{{movie.breakBefore}}</span>
									minutes break
									<span class="offenseDetails" ng-show="movie.breakBefore < options.minWaitBetweenMovies">(minimum: {{options.minWaitBetweenMovies}} minutes)</span>
									<span class="offenseDetails" ng-show="movie.breakBefore > options.maxWaitBetweenMovies">(maximum: {{options.maxWaitBetweenMovies}} minutes)</span>
								</li>
								<li ng-repeat-end title="{{movie | json}}">
									<span class="film-start" ng-class="{offense: (movie.range.start | moment:'valueOf') < (movie.range.start | moment:'clone' | moment:'startOf':'day') + options.endOfWork}">{{movie.range.start | moment:'format':'HH:mm'}}</span>&mdash;<span class="film-end" ng-class="{offense: (movie.range.end | moment:'valueOf') < (plan.range.end | moment:'clone' | moment:'startOf':'day') + options.endOfWork}">{{movie.range.end | moment:'format':'HH:mm'}}</span>
									<span class="film-runtime">{{movie.film().runtime}}</span>:
									<span class="film-title">{{movie.film().title}}</span>
								</li>
							</ol>
						</li>
						<li ng-if="cPlan.more.remaining() > 0">
							Show more suggestions:
							<button type="button" class="btn btn-link btn-xs" ng-click="cPlan.more.showMore(5)">{{Math.min(5, cPlan.more.remaining())}} of {{cPlan.more.remaining()}} more ...</button>
							|
							<button type="button" class="btn btn-link btn-xs" ng-click="cPlan.more.showMore(cPlan.more.remaining())">All!</button>
						</li>
					</ul>
				</accordion-group>
			</accordion>
		</section>
	</section>
	<div id="statusmessage" ng-show="stati.length > 0" ng-controller="StatusController">
		<div ng-repeat="status in stati track by $index">{{status}}</div>
	</div>
</body>
</html>
