	<div class="modal-header">
		<h3>Film details for <span class="film-title">{{film.title}}</span></h3>
	</div>
	<div class="modal-body row">
		<div class="col-xs-12 col-sm-6 col-md-5">
			<span><em>Actors</em>: {{film.actors}}</span><br/>
			<span><em>Release</em>: <span class="time">{{film.release | date:'fullDate'}}</span></span><br/>
			<span><em>Length</em>: <span class="film-runtime">{{film.runtime > 0? film.runtime : "???"}}</span> minutes</span>
			<img ng-src="{{film.poster_url}}" style="float: left; width:100%; margin-right: 1em;" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-7">
			<div class="aspect-ratio">
				<img ng-src="{{film.still_url || 'https://www.cineworld.co.uk/xmedia/img/10108/missing-trailer.png'}}" ng-if="!film.trailer" />
				<iframe id="trailer" ng-if="film.trailer && hasYouTubeTrailer()" ng-src="{{buildYouTubeEmbedUrl(getYouTubeTrailerId())}}" frameborder="0" allowfullscreen></iframe>
				<video id="trailer" ng-if="film.trailer && !hasYouTubeTrailer()" ng-src="" tw-poster="{{film.still_url}}" controls>
					Sorry, your browser doesn't support video, try downloading:
					<a ng-href="{{film.trailer}}"><img ng-src="{{film.still_url}}" /></a>
				</video>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12" ng-if="(cineworld.films | filter: {selected: true, edi: film.edi}).length > 0">
			<table id="performances-for-film" class="performance-details">
				<tr ng-repeat="cinema in cineworld.cinemas | filter: {selected: true} | orderBy: 'name'">
					<td class="cinema-name" title="{{cinema | json}}">{{cleanCinemaName(cinema.name)}}</td>
					<!-- kind of a flatten the cineworld.performances array holds objects for cinema-film pairs -->
					<td class="performances" ng-repeat="performances in cineworld.performances
					               | filter: {cinema: cinema.cineworldID, film: film.edi}"
					    title="{{performances | json}}">
						<span ng-repeat="performance in performances.performances">
							<span class="performance"
							      ng-class="{ selected: performance.booking_url === selectedPerformance.booking_url }">
								<button type="button" class="btn btn-link btn-xs"
								        title="Filter suggestions with this screening"
								        ng-click="filterScreening(cinema, film, performance)">
									<i class="glyphicon glyphicon-time"></i>
								</button><!--
								--><a href="{{performance.booking_url}}" target="_blank"
								      class="time"
								      title="{{performance | json}}"
                                      ng-class="{offense: (performance.time | moment:'utc') < cineworld.date.valueOf() + options.endOfWork}"
								>{{performance.time | momentLocalFormat:'HH:mm'}}</a><!--
							--></span>{{$last? "" : ","}}
						</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<a ng-href="{{selectedPerformance.booking_url}}" target="_blank"
		   ng-if="selectedPerformance"
		   title="{{selectedPerformance | json}}">
			<button class="btn btn-info">
				Book {{selectedPerformance.time | momentLocalFormat:'HH:mm'}}
				at {{cleanCinemaName(selectedPerformance.cinema().name)}}
			</button>
		</a>
		<a ng-href="{{film.film_url}}" target="_blank">
			<button class="btn btn-primary">More info</button>
		</a>
		<button class="btn btn-success" ng-click="dismiss()">Dismiss</button>
	</div>
